@using PagedList
@model IPagedList<QuanLyPhongTro.Nuoc>

@{
    ViewBag.Title = "Nuoc";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<a href="@Url.Action("AddNuoc", "Admin")" class="btn btn-primary m-2">Thêm Nước</a>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("SearchNuoc", "Admin", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group m-2">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Tìm theo số phòng" })
                <button type="submit" class="btn btn-primary m-2">Tìm kiếm</button>
            </div>
        }
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>
            Ngày đọc số
        </th>
        <th>
            Chỉ số cũ
        </th>
        <th>
            Chỉ số mới
        </th>
        <th>
            Giá tiền
        </th>
        <th>
            Số phòng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.NgayDocSo.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiSoCu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiSoMoi)
            </td>
            <td>
                @string.Format("{0:C0}", item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phong.SoPhong)
            </td>
            <td>
                @Html.ActionLink("Sửa nước", "EditNuoc", "Admin", new { id = item.MaNuoc }, new { @class = "btn btn-info" }) |
                <a href="@Url.Action("DeleteNuoc","Admin", new { id = item.MaNuoc })" class="btn btn-danger delete-room" data-toggle="modal" data-target="#confirmDeleteModal">Xóa</a>
            </td>
        </tr>
    }
</table>
<div class="pagination justify-content-center">
    <ul class="pagination">
        @if (Model.PageCount > 1)
        {
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Nuoc", new { page = 1, size = ViewBag.SelectedSize })">First</a>
            </li>
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Nuoc", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Previous</a>
            </li>
            for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Nuoc", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Nuoc", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Next</a>
            </li>
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Nuoc", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Last</a>
            </li>
        }
    </ul>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa chỉ số nước của phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Những dữ liệu liên quan sẽ bị xóa sạch và sẽ không thể khôi phục. Bạn có chắc chắn muốn xóa chỉ số nước phòng này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <a href="#" class="btn btn-danger" id="confirmDeleteButton">Xóa</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.delete-room').click(function (e) {
            e.preventDefault();
            var deleteUrl = $(this).attr('href');
            $('#confirmDeleteButton').attr('href', deleteUrl);
            $('#confirmDeleteModal').modal('show');
        });
    });
</script>