@model IPagedList<QuanLyPhongTro.TaiKhoan>
@using PagedList
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh Sách Tài Khoản";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@if (ViewData["success"] != null)
{
    <div class="alert alert-success">
        @ViewData["success"]
    </div>
}
<div class="container">
    <h2>Danh Sách Tài Khoản</h2>
    <p>
        @Html.ActionLink("Tạo Mới", "CreateTK", null, new { @class = "btn btn-primary" })
    </p>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("SearchTK", "Admin", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="form-group m-2">
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Tìm theo số điện thoại" })

                </div>
                <div class="form-group m-2">
                    @Html.DropDownList("chucvu", new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Quản lý", Value = "Quản lý" },
                        new SelectListItem { Text = "Khách hàng", Value = "Khách hàng" },
                    }, "Value", "Text"), "Tất cả", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary m-2">Tìm kiếm</button>
            }
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Số điện thoại</th>
                <th>Mật khẩu</th>
                <th>Chức vụ</th>
                <th>Trạng thái</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SoDienThoai)</td>
                    <td>*****</td>
                    <td>@Html.DisplayFor(modelItem => item.ChucVu)</td>
                    <td>
                        <label class="custom-control-label">
                            @if (item.TrangThai)
                            {
                                <span class="badge badge-success">Hoạt động</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Đang quên mật khẩu</span>
                            }
                        </label>
                    </td>
                    <td>
                        <a href="@Url.Action("Pass", new { id = item.MaTaiKhoan })" class="btn btn-info reset-password">Cấp lại mật khẩu</a>

                        @Html.ActionLink("Chỉnh Sửa", "EditTK", new { id = item.MaTaiKhoan }, new { @class = "btn btn-warning " })
                        <a href="@Url.Action("DeleteTK", new { id = item.MaTaiKhoan })" class="btn btn-danger delete-room" data-toggle="modal" data-target="#confirmDeleteModal">Xóa</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>



</div>
<div class="pagination justify-content-center">
    <ul class="pagination">
        @if (Model.PageCount > 1)
        {
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DH", new { page = 1, size = ViewBag.SelectedSize })">First</a>
            </li>
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DH", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Previous</a>
            </li>
            for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("DH", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DH", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Next</a>
            </li>
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DH", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Last</a>
            </li>
        }
    </ul>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Những dữ liệu liên quan sẽ bị xóa sạch và sẽ không thể khôi phục. Bạn có chắc chắn muốn xóa tài khoản này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <a href="#" class="btn btn-danger" id="confirmDeleteButton">Xóa</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.delete-room').click(function (e) {
            e.preventDefault();
            var deleteUrl = $(this).attr('href');
            $('#confirmDeleteButton').attr('href', deleteUrl);
            $('#confirmDeleteModal').modal('show');
        });
    });


</script>